footer{
	position: fixed;
   	bottom: 0;
    	width: 100%;
    	text-align: center;
	background-color: #FADADD;

}
.ten {
	
   	margin:10% 5% 2% 10% ;
	white-space: nowrap; /*khong cho chu xuong dong*/
	display: inline-block;   /*day khung qua phai*/     
  	padding: 20px 30px;
    	border: 1px solid #ccc;
    	border-radius: 5px;
    	background-color: #FADADD;
    	font-size: 16px;
    	line-height: 1.6; /*khoang cach cac dong*/		
}
.tkb{
    border-collapse: collapse;   /* gộp viền */
    width: 70%;
    margin: 20px auto;
    font-size: 16px;
}
th {
    background-color: #C4A484;
}
td,th {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: center;
}
tr:hover{
	background-color:#D2B48C;
}
caption {
    text-transform: uppercase;
}
img{
	margin:5% -60px -40px 5% ;
	width: 467px;
    	height: 368px;
    	margin-right: 15px;
}	
.tenvaanh {
    display: flex;
    align-items: center;      /* căn ngang bằng nhau */
    justify-content: center;  /* căn giữa cả cụm */
    gap: 40px; /* căn thẳng hàng theo chiều dọc */
}
.avatar {
	
	width: 350px;
    	height: 300px;
   	object-fit: cover;
    	border-radius: 10px;
}
body {
	background-color: #FFF6ED;
    height: 100vh;
    overflow-y: auto;   
}